.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 16px;
  text-align: center;
  max-width: 600px;
  background: var(--app-color-bg);

  .top {
    max-width: 600px;
    position: absolute;
    top: 10%;
    width: 100%;

    .title {
      margin-bottom: 0;
      margin-left: -16px;
    }

    .subtitle {
      width: 100%;
      margin-left: -16px;
      padding: 16px;
    }
  }

  .bottom {
    max-width: 600px;
    position: absolute;
    bottom: 10%;
    width: 100%;
    margin-left: -16px;
    padding: 16px;
  }
}

.highlight {
  font-weight: bolder;
  font-size: 1.2em;
  color: var(--app-color-accent-primary);
}

.actions {
  display: flex;
  justify-content: space-around;
  padding: 10rem 1rem;

  ion-button {
    width: 45%;
    min-height: 44px;
  }

  .secondary-action {
    --color: var(--app-color-accent-secondary);
    --border-color: var(--app-color-accent-secondary);
  }
}

.social-login {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;

  .twitter {
    --background: var(--ion-color-twitter);
    --background-hover: darken(var(--ion-color-twitter), 10%);
  }

  .facebook {
    --background: var(--ion-color-facebook);
    --background-hover: darken(var(--ion-color-facebook), 10%);
  }

  .google {
    --background: var(--ion-color-google);
    --background-hover: darken(var(--ion-color-google), 10%);
  }
}
