<ion-tabs>
  <ion-fab
    vertical="bottom"
    horizontal="center"
    translucent="true"
    style="margin-bottom: 28px"
  >
    <ion-fab-button (click)="openQrScanner()" class="qr-scanner">
      <ion-icon name="qr-code-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Boxes</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="checklist"
      href="/tabs/checklist"
      style="margin-right: 10px"
    >
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Checklists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search" style="margin-left: 10px">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
