<ion-content fullscreen="true" class="app-page">
  <swiper-container
    #swiper
    [pagination]="true"
    (swiperslidechange)="onSlideChange()"
  >
    <swiper-slide class="swiper-slide">
      <div class="slide">
        <img
          src="./assets/undraw_delivery_truck_vt6p.svg"
          alt="Illustration"
          class="slide-image"
        />
        <h2 class="app-text-display">
          <span class="accent">Easy</span> to Use
        </h2>
        <p class="app-text-body">
          Our app simplifies the moving process, helping you organize and manage
          all your boxes and belongings efficiently.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img
        src="./assets/undraw_file_manager_re_ms29.svg"
        alt="Inventory Illustration"
        class="slide-image"
      />
      <h2 class="app-text-display">
        Create
        <span class="accent">Detailed</span> Inventories
      </h2>
      <p class="app-text-body">
        Record all items in your boxes, assign labels, and categorize each
        object to make searching and tracking during the move easier.
      </p>
    </swiper-slide>
    <swiper-slide>
      <img
        src="./assets/undraw_mobile_search_jxq5.svg"
        alt="QR Code Illustration"
        class="slide-image"
      />
      <h2 class="app-text-display">Label with <span class="accent">QR</span></h2>
      <p class="app-text-body">
        Use QR codes to label each box. Scan the codes to get an instant list of
        contents.
      </p>
    </swiper-slide>
    <swiper-slide>
      <img
        src="./assets/undraw_package_arrived_63rf.svg"
        alt="Tracking Illustration"
        class="slide-image"
      />
      <h2 class="app-text-display">
        Start Your <span class="accent">Move</span>
      </h2>
      <p class="app-text-body">
        You are ready to start! Use our app to organize your boxes, label with
        QR codes, and make your move much easier and more efficient.
      </p>
      <ion-button fill="solid" class="app-primary-action" (click)="startApp()"
        >Get Started</ion-button
      >
      <ion-button fill="clear" class="secondary-action" (click)="goToLogin()"
        >Already have an account? Log in</ion-button
      >
    </swiper-slide>
  </swiper-container>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button fill="clear" class="skip-action" (click)="skip()"
      >Skip</ion-button
    >
    <ion-progress-bar
      type="determinate"
      [value]="progress"
      class="onboarding-progress"
    ></ion-progress-bar>
    <ion-button
      slot="end"
      fill="clear"
      class="next-action"
      (click)="next()"
      [disabled]="!canNext"
      >Next</ion-button
    >
  </ion-toolbar>
</ion-footer>
